@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Jersey+10&family=Matemasie&family=Oswald:wght@200..700&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
body .main-game-wrapper {
  min-height: 100vh;
  max-width: 600px;
  background-image: url(../../assets/ludo/body-bg.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
body .main-game-wrapper .main-part1 .top {
  height: 290px;
  background-image: url(../../assets/ludo/header.jpg);
  background-size: 100% 100%;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk {
  height: 325px;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .glass {
  width: 171px;
  top: 110px;
  height: 167px;
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 2px 6px rgba(0, 0, 0, 0.5), 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px 2px rgba(255, 255, 255, 0.75), 0 0 35px 2px rgba(57, 57, 57, 0.75) inset;
  position: absolute;
  border-radius: 50% 50% 25% 25%;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .bowel {
  width: 200px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper {
  position: absolute;
  left: 56%;
  top: 80%;
  transform: translate(-50%, -50%);
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper img.chokka {
  height: 35px;
  position: absolute;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper img.chokka:nth-child(1) {
  left: 10px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper img.chokka:nth-child(2) {
  left: -25px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper img.chokka:nth-child(3) {
  left: -52px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper {
  position: relative;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper .circle__item {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -95px;
  right: -50px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper .circle__item .circle__spinner {
  width: 50px;
  height: 50px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper .circle__item .circle__spinner .path {
  stroke: red;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  stroke-dasharray: 130, 150;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper .circle__item .circle-number {
  position: absolute;
  top: 12px;
  right: 19px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord {
  position: absolute;
  top: 0;
  width: 230px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  background: #340800;
  padding: 5px;
  border: 2px groove #63281b;
  border-radius: 4px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top p {
  margin-bottom: 0;
  color: white;
  font-size: 10px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part1 {
  display: flex;
  gap: 10px;
  border-right: 2px groove #63281b;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part1 .left {
  color: #9F6824;
  font-size: 12px;
  font-weight: bold;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part2 {
  display: flex;
  gap: 10px;
  border-right: 2px groove #63281b;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part2 .left {
  color: #9F6824;
  font-size: 12px;
  font-weight: bold;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-top .part3 p {
  text-align: center;
  font-size: 8px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5px;
  background: linear-gradient(to bottom, #340800 60%, transparent);
  padding: 5px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner p.win {
  margin-top: 0;
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-size: 10px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner p.win.small {
  background: red;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner p.win.big {
  background: #0E6E98;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner .img img {
  width: 20px;
  height: 20px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .top-users {
  position: absolute;
  left: 10px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .top-users .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px groove #d39f0d;
  padding: 1px;
  background: black;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .top-users .user p {
  margin-bottom: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .menubarWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  left: -1px;
  bottom: 64px;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .menubarWrapper .bar {
  background-image: url(../../assets/ludo/menubar-bg.png);
  background-size: 100% 100%;
  padding: 7px;
  padding-left: 4px;
  cursor: pointer;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .menubarWrapper .bar i {
  color: #e9d35d;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels {
  position: absolute;
  left: -170px;
  top: 0;
  height: 100vh;
  width: 130px;
  background: rgba(0, 0, 0, 0.7215686275);
  z-index: 13;
  transition: 0.4s ease-in-out;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper {
  position: relative;
  height: 100vh;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .close {
  position: absolute;
  right: -54px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7215686275);
  border-radius: 0 40px 40px 0;
  padding: 10px;
  cursor: pointer;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .close i {
  color: white;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .header-item {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .header-item i {
  font-size: 20px;
  color: #8b8b8b;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .items-wrapper .item {
  border-radius: 50%;
  background: #555555;
  padding: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels .model-wrapper .items-wrapper .item i {
  color: white;
}
body .main-game-wrapper .main-part1 .top .bowel-wrapper .hiddenModels.active {
  left: 0;
}
body .main-game-wrapper .main-part1 .bottom {
  width: 100%;
}
body .main-game-wrapper .main-part1 .bottom .part1 {
  position: relative;
}
body .main-game-wrapper .main-part1 .bottom .part1 img {
  width: 100%;
  height: 30px;
  z-index: 10;
  position: relative;
}
body .main-game-wrapper .main-part1 .bottom .part1 .bet-amount {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 11;
  top: 5px;
}
body .main-game-wrapper .main-part1 .bottom .part1 .bet-amount p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .main-game-wrapper .main-part1 .bottom .part1 .bet-amount p span {
  font-size: 12px;
  color: #b08d79;
  font-weight: bold;
}
body .main-game-wrapper .main-part1 .bottom .part1 .bet-amount p span:nth-child(2) {
  color: #c5c5c5;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner {
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner.active {
  filter: grayscale(50%) brightness(50%);
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner img.main {
  width: 100%;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner .contex {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner .contex .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner .contex .info span {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner .contex .winx {
  font-size: 14px;
  text-align: center;
  color: #00633e;
  font-weight: bold;
  margin-top: 10px;
  line-height: 13px;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner .coins img {
  position: absolute;
  height: 20px;
  z-index: 12;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(1) .contex .info span {
  color: #b5001a;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(1) .coins img {
  top: -22rem;
  left: -2rem;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(1) .contex .info span {
  color: #b5001a;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(1) .coins img {
  top: -22rem;
  left: -2rem;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(2) .coins img {
  top: -22rem;
  left: -11rem;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(3) .contex .info span {
  color: #d7d7d7;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-top .inner:nth-child(3) .coins img {
  top: -22rem;
  left: -30rem;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.1607843137);
  padding: 5px;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle-info p {
  margin-bottom: 0;
  font-size: 10px;
  color: #d39f0d;
  text-align: center;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board {
  background-image: url(../../assets/ludo/body-part3-bg.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #CDF2D9;
  gap: 3px;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board.active {
  filter: grayscale(50%) brightness(50%);
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board img {
  height: 30px;
  width: 30px;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(1) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(2) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(3) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(4) {
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(5) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(6) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(7) {
  border-right: 0;
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(8) {
  border-bottom: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(9) {
  border-right: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(10) {
  border-right: 0;
}
body .main-game-wrapper .main-part1 .bottom .part2 .part2-middle .board:nth-child(11) {
  border-right: 0;
}
body .main-game-wrapper .main-part2 {
  width: 100%;
}
body .main-game-wrapper .main-part2 .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 6px;
  background: rgba(255, 255, 255, 0.1607843137);
  padding: 5px;
}
body .main-game-wrapper .main-part2 .part1 h2 {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .main-part2 .part1 h2 span {
  color: #d39f0d;
  font-weight: bold;
}
body .main-game-wrapper .main-part2 .part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  width: 100%;
}
body .main-game-wrapper .main-part2 .part2 .bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 5px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-left img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: top;
  border: 1px groove #d39f0d;
  padding: 1px;
  background: black;
}
body .main-game-wrapper .main-part2 .part2 .bottom-left h2 {
  color: white;
  font-size: 10px;
  margin-bottom: 0;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper {
  position: relative;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .border-img {
  position: absolute;
  z-index: 1;
  height: 50px;
  left: -5px;
  top: 7px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .main-coin {
  z-index: 10;
  position: relative;
  cursor: pointer;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .main-coin img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 15px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins {
  position: absolute;
  left: -188%;
  top: 208%;
  transform-origin: 100px;
  transform: translate(-50%, -50%) rotate(13deg);
  height: 147px;
  width: 0px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin {
  height: 0;
  width: 130px;
  position: absolute;
  z-index: 11;
  top: -10px;
  left: 46px;
  transition: 0.4s ease;
  transition-delay: calc(0.1s * var(--i));
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 12;
  position: relative;
  box-shadow: 5px 5px 15px #0b482f;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin:nth-child(1) img {
  transform: rotate(-9deg);
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin:nth-child(2) img {
  transform: rotate(-80deg);
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin:nth-child(3) img {
  transform: rotate(-145deg);
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins .coin:nth-child(4) img {
  transform: rotate(154deg);
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .coins-wrapper .coins.active .coin {
  transform: rotate(calc(65deg * var(--i)));
  top: 0px;
  left: 0;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .any-btn {
  box-shadow: 5px 5px 15px black;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #057a48;
  cursor: pointer;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .any-btn img {
  height: 18px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .any-btn i {
  color: white;
}
body .main-game-wrapper .main-part2 .part2 .bottom-middle .any-btn p {
  font-size: 6px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .main-part2 .part2 .bottom-right .close-btn {
  box-shadow: 5px 5px 15px black;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #057a48;
  cursor: pointer;
}
body .main-game-wrapper .main-part2 .part2 .bottom-right .close-btn img {
  height: 18px;
}
body .main-game-wrapper .main-part2 .part2 .bottom-right .close-btn p {
  font-size: 6px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .custom-model-wrapper {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 12;
  background-image: url(../../assets/ludo/alert-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: 0.5s ease-in-out;
}
body .main-game-wrapper .custom-model-wrapper#bet-winner-users {
  background: rgba(31, 31, 31, 0.8588235294) !important;
  width: 90%;
  border-radius: 7px;
  border: 1px solid #d39f0d;
}
body .main-game-wrapper .custom-model-wrapper#bet-winner-users .custom-model .winner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
body .main-game-wrapper .custom-model-wrapper#bet-winner-users .custom-model .winner-header .modal-title {
  color: white;
  color: white;
  font-family: "Matemasie", sans-serif;
}
body .main-game-wrapper .custom-model-wrapper.active {
  top: 50%;
}
body .main-game-wrapper .custom-model-wrapper .custom-model {
  padding: 15px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model p {
  text-align: center;
  color: #b5001a;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .result {
  color: white;
  margin-bottom: 5px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .img-wrapper img {
  height: 35px;
  width: 35px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer {
  position: relative;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer p {
  font-family: sans-serif !important;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .perty-hat-left {
  height: 5.5rem;
  position: absolute;
  left: 9px;
  top: -56px;
  transform: rotate(333deg);
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .no-winner {
  margin-bottom: 0;
  color: #d39f0d !important;
  font-weight: bold;
  font-family: "Ga Maamli", sans-serif;
  font-family: 14px;
  text-align: center;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user:nth-child(1) .img .winner-hat {
  height: 5.5rem;
  position: absolute;
  left: 9px;
  top: -56px;
  transform: rotate(333deg);
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user:nth-child(2) .img .winner-hat {
  top: -16px;
  left: 24px;
  transform: rotate(322deg);
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user:nth-child(3) .img .winner-hat {
  top: -17px;
  left: 19px;
  transform: rotate(322deg);
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .img .winner-hat {
  height: 30px;
  position: absolute;
  top: -15px;
  left: 27px;
  transform: rotate(314deg);
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .img .profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #d39f0d;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .img .name {
  margin-bottom: 0;
  top: 36px;
  color: white;
  font-size: 12px;
  background: #039B68;
  padding: 6px;
  position: absolute;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  margin-top: 10px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .amount {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .amount p {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .amount .bet .text {
  color: #d39f0d;
  font-weight: bold;
  font-size: 12px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .winner-users .user .amount .bet .a {
  background: #039B68;
  padding: 2px 15px;
  border-radius: 7px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00452e;
  padding: 5px;
  margin-top: 20px;
  border-radius: 7px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .left {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .left img {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  border: 2px groove #d39f0d;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .left p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .right {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .right p {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .right .bet .text {
  color: #d39f0d;
  font-weight: bold;
  font-size: 12px;
}
body .main-game-wrapper .custom-model-wrapper .custom-model .winner-users-wrapeer .my-win-list .right .bet .a {
  background: #039B68;
  padding: 2px 15px;
  border-radius: 7px;
}

.modal .modal-dialog .modal-content {
  background: rgba(31, 31, 31, 0.8588235294) !important;
  margin-top: 20px;
  border: 1px solid #d39f0d;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid #d39f0d;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: white;
  font-family: "Matemasie", sans-serif;
}
.modal .modal-dialog .modal-content .modal-header p.close {
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-header p.close i {
  font-size: 25px;
  color: red;
}
.modal .modal-dialog .modal-content .modal-body .info {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body .info li {
  color: white;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer {
  position: relative;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .perty-hat-left {
  height: 5.5rem;
  position: absolute;
  left: 12px;
  top: -57px;
  transform: rotate(333deg);
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .no-winner {
  margin-bottom: 0;
  color: #d39f0d !important;
  font-weight: bold;
  font-family: "Ga Maamli", sans-serif;
  font-family: 14px;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .img .winner-hat {
  height: 30px;
  position: absolute;
  top: -15px;
  left: 27px;
  transform: rotate(314deg);
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .img .profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #d39f0d;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .img .name {
  margin-bottom: 0;
  top: 36px;
  color: white;
  font-size: 12px;
  background: #039B68;
  padding: 6px;
  position: absolute;
  width: 100%;
  text-align: center;
  border-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .amount {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .amount p {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .amount .bet .text {
  color: #d39f0d;
  font-weight: bold;
  font-size: 12px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .winner-users .user .amount .bet .a {
  background: #039B68;
  padding: 2px 15px;
  border-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00452e;
  padding: 5px;
  margin-top: 20px;
  border-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .left {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .left img {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  border: 2px groove #d39f0d;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .left p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .right {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .right p {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .right .bet .text {
  color: #d39f0d;
  font-weight: bold;
  font-size: 12px;
}
.modal .modal-dialog .modal-content .modal-body .winner-users-wrapeer .my-win-list .right .bet .a {
  background: #039B68;
  padding: 2px 15px;
  border-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-body .users-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 8px;
  flex-wrap: wrap;
}
.modal .modal-dialog .modal-content .modal-body .users-wrapper .user {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.231372549);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 45px;
  padding: 5px;
  border-radius: 7px;
  height: 61px;
  overflow: hidden;
  gap: 2px;
}
.modal .modal-dialog .modal-content .modal-body .users-wrapper .user img {
  height: 35px;
  width: 35px;
  border-radius: 7px;
  background-position: top;
}
.modal .modal-dialog .modal-content .modal-body .users-wrapper .user p {
  margin-bottom: 0;
  font-size: 10px;
  color: white;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory thead tr th {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d39f0d;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory thead tr th:first-child {
  text-align: start;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory thead tr th:last-child {
  text-align: end;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory tbody tr:nth-child(even) {
  background: #6f6f6f;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory tbody tr td {
  color: white;
  font-size: 12px;
  text-align: center;
  border-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory tbody tr td:first-child {
  text-align: start;
}
.modal .modal-dialog .modal-content .modal-body .todaysHistory tbody tr td:last-child {
  text-align: end;
}

.dice {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: rotate3d(0, 0.9, 0.9, 90deg);
  transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);
}

.dice.throw {
  animation: rotateDice 0.7s ease-in reverse, throwDice 1s linear;
}

.dice .diceFace {
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f6f3f0;
  border: 2px solid white;
  border-radius: 7px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.dice .diceFace::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  transform: translateZ(-1px);
}

.dice .diceFace::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: #131210;
  border-radius: 100%;
  transform: translateZ(1px);
}

.dice .front {
  transform: translateZ(17.5px);
}

.dice .front::after {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background-color: #f63330;
}

.dice .up {
  transform: rotateX(90deg) translateZ(17.5px);
}

.dice .up::after {
  margin: -7.5px 0px 0 -7.5px;
  box-shadow: 10px 10px #131210;
}

.dice .left {
  transform: rotateY(-90deg) translateZ(17.5px);
}

.dice .left::after {
  margin: -10px 0 0 -10px;
  box-shadow: 7.5px 7.5px #131210, 15px 15px #131210;
}

.dice .right {
  transform: rotateY(90deg) translateZ(17.5px);
}

.dice .right::after {
  margin: -7.5px 0 0 -7.5px;
  background-color: #f63330;
  box-shadow: 10px 0px #f63330, 0px 10px #f63330, 10px 10px #f63330;
}

.dice .bottom {
  transform: rotateX(-90deg) translateZ(17.5px);
}

.dice .bottom::after {
  margin: -9px 0 0 -9px;
  box-shadow: 6.5px 6.5px #131210, 13px 13px #131210, 13px 0px #131210, 0px 13px #131210;
}

.dice .back {
  transform: rotateX(180deg) translateZ(17.5px);
}

.dice .back::after {
  margin: -10px 0 0 -7.5px;
  box-shadow: 10px 0px #131210, 0px 7.5px #131210, 10px 7.5px #131210, 0px 15px #131210, 10px 15px #131210;
}

.dice.red .diceFace {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(250, 0, 0, 0.45);
  border: 2px solid rgba(255, 46, 46, 0.45);
  border-radius: 30px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.dice.red .diceFace::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 46, 46, 0.45);
  border-radius: 20px;
  transform: translateZ(-1px);
}

.dice.red .diceFace::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: white;
  border-radius: 100%;
  transform: translateZ(1px);
}

.dice.red .front {
  transform: translateZ(17.5px);
}

.dice.red .front::after {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: white;
}

.dice.red .up {
  transform: rotateX(90deg) translateZ(17.5px);
}

.dice.red .up::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px white;
}

.dice.red .left {
  transform: rotateY(-90deg) translateZ(17.5px);
}

.dice.red .left::after {
  margin: -40px 0 0 -40px;
  box-shadow: 30px 30px white, 60px 60px white;
}

.dice.red .right {
  transform: rotateY(90deg) translateZ(17.5px);
}

.dice.red .right::after {
  margin: -30px 0 0 -30px;
  background-color: white;
  box-shadow: 40px 0px white, 0px 40px white, 40px 40px white;
}

.dice.red .bottom {
  transform: rotateX(-90deg) translateZ(17.5px);
}

.dice.red .bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px white, 52px 52px white, 52px 0px white, 0px 52px white;
}

.dice.red .back {
  transform: rotateX(180deg) translateZ(17.5px);
}

.dice.red .back::after {
  margin: -40px 0 0 -30px;
  box-shadow: 40px 0px white, 0px 30px white, 40px 30px white, 0px 60px white, 40px 60px white;
}

.dice.blue .diceFace {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 255, 0.45);
  border: 2px solid rgba(51, 51, 255, 0.45);
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.dice.blue .diceFace::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 255, 0.45);
  border-radius: 20px;
  transform: translateZ(-1px);
}

.dice.blue .diceFace::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: white;
  border-radius: 100%;
  transform: translateZ(1px);
}

.dice.blue .front {
  transform: translateZ(17.5px);
}

.dice.blue .front::after {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: white;
}

.dice.blue .up {
  transform: rotateX(90deg) translateZ(17.5px);
}

.dice.blue .up::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px white;
}

.dice.blue .left {
  transform: rotateY(-90deg) translateZ(17.5px);
}

.dice.blue .left::after {
  margin: -40px 0 0 -40px;
  box-shadow: 30px 30px white, 60px 60px white;
}

.dice.blue .right {
  transform: rotateY(90deg) translateZ(17.5px);
}

.dice.blue .right::after {
  margin: -30px 0 0 -30px;
  background-color: white;
  box-shadow: 40px 0px white, 0px 40px white, 40px 40px white;
}

.dice.blue .bottom {
  transform: rotateX(-90deg) translateZ(17.5px);
}

.dice.blue .bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px white, 52px 52px white, 52px 0px white, 0px 52px white;
}

.dice.blue .back {
  transform: rotateX(180deg) translateZ(17.5px);
}

.dice.blue .back::after {
  margin: -40px 0 0 -30px;
  box-shadow: 40px 0px white, 0px 30px white, 40px 30px white, 0px 60px white, 40px 60px white;
}

.dice.black .diceFace {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #111;
  border: 2px solid #2b2b2b;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.dice.black .diceFace::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  border-radius: 20px;
  transform: translateZ(-1px);
}

.dice.black .diceFace::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: #db0;
  border-radius: 100%;
  transform: translateZ(1px);
}

.dice.black .front {
  transform: translateZ(17.5px);
}

.dice.black .front::after {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: #3ef;
}

.dice.black .up {
  transform: rotateX(90deg) translateZ(17.5px);
}

.dice.black .up::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px #db0;
}

.dice.black .left {
  transform: rotateY(-90deg) translateZ(17.5px);
}

.dice.black .left::after {
  margin: -40px 0 0 -40px;
  box-shadow: 30px 30px #db0, 60px 60px #db0;
}

.dice.black .right {
  transform: rotateY(90deg) translateZ(17.5px);
}

.dice.black .right::after {
  margin: -30px 0 0 -30px;
  background-color: #3ef;
  box-shadow: 40px 0px #3ef, 0px 40px #3ef, 40px 40px #3ef;
}

.dice.black .bottom {
  transform: rotateX(-90deg) translateZ(17.5px);
}

.dice.black .bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px #db0, 52px 52px #db0, 52px 0px #db0, 0px 52px #db0;
}

.dice.black .back {
  transform: rotateX(180deg) translateZ(17.5px);
}

.dice.black .back::after {
  margin: -40px 0 0 -30px;
  box-shadow: 40px 0px #db0, 0px 30px #db0, 40px 30px #db0, 0px 60px #db0, 40px 60px #db0;
}

.dice.pink .diceFace {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f69;
  border: 2px solid #ff99bb;
  border-radius: 40px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.dice.pink .diceFace::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff99bb;
  border-radius: 20px;
  transform: translateZ(-1px);
}

.dice.pink .diceFace::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: #ffe;
  border-radius: 100%;
  transform: translateZ(1px);
}

.dice.pink .front {
  transform: translateZ(17.5px);
}

.dice.pink .front::after {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: #fe9;
}

.dice.pink .up {
  transform: rotateX(90deg) translateZ(17.5px);
}

.dice.pink .up::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px #ffe;
}

.dice.pink .left {
  transform: rotateY(-90deg) translateZ(17.5px);
}

.dice.pink .left::after {
  margin: -40px 0 0 -40px;
  box-shadow: 30px 30px #ffe, 60px 60px #ffe;
}

.dice.pink .right {
  transform: rotateY(90deg) translateZ(17.5px);
}

.dice.pink .right::after {
  margin: -30px 0 0 -30px;
  background-color: #fe9;
  box-shadow: 40px 0px #fe9, 0px 40px #fe9, 40px 40px #fe9;
}

.dice.pink .bottom {
  transform: rotateX(-90deg) translateZ(17.5px);
}

.dice.pink .bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px #ffe, 52px 52px #ffe, 52px 0px #ffe, 0px 52px #ffe;
}

.dice.pink .back {
  transform: rotateX(180deg) translateZ(17.5px);
}

.dice.pink .back::after {
  margin: -40px 0 0 -30px;
  box-shadow: 40px 0px #ffe, 0px 30px #ffe, 40px 30px #ffe, 0px 60px #ffe, 40px 60px #ffe;
}

.diceWrap {
  position: relative;
}
.diceWrap:nth-child(1) {
  left: -30px;
}
.diceWrap:nth-child(2) {
  left: 21px;
  top: 13px;
}
.diceWrap:nth-child(3) {
  left: 72px;
}
.controller {
  margin-top: 150px;
}

button:hover.clear-a {
  color: rgba(255, 255, 255, 0.99);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 2px 6px rgba(0, 0, 0, 0.5), 0 10px rgba(0, 0, 0, 0.05) inset, 0 0 5px 2px rgba(255, 255, 255, 0.75), 0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}

/*
=====================================
           Small CSS
=====================================
*/
body.small .main-game-wrapper .main-part1 .top .bowel-wrapper .winnerRecord .mr-bottom .winner .img, body.small .main-game-wrapper .main-part1 .bottom .part2 .part2-middle-info, body.small .main-game-wrapper .main-part1 .bottom .part2 .part2-middle {
  display: none;
}
body.small .main-game-wrapper .main-part1 .top {
  height: 220px;
}
body.small .main-game-wrapper .main-part1 .top .bowel-wrapper .disk {
  height: 245px;
}
body.small .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .glass {
  top: 30px;
}
body.small .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .ludo-wrapper {
  top: 73%;
}
body.small .main-game-wrapper .main-part1 .top .bowel-wrapper .disk .circle-wrapper .circle__item {
  top: -80px;
}

@keyframes infinityLoop {
  0% {
    top: -108px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -108px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -108px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(-0.1, 0.3, -1, 180deg);
  }
}
@keyframes ludoDisk1 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(-0.1, 0.3, -1, 180deg);
  }
}
@keyframes ludoDisk2 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(0, -1, 0.5, 196deg);
  }
}
@keyframes ludoDisk3 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(0, 0.9, 0.9, 90deg);
  }
}
@keyframes ludoDisk4 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(0.1, 0.1, 0.2, -107deg);
  }
}
@keyframes ludoDisk5 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(0.3, 0.2, 0.4, 141deg);
  }
}
@keyframes ludoDisk6 {
  0% {
    top: -85px;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  20% {
    top: -44px;
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }
  40% {
    top: -85px;
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }
  60% {
    top: -44px;
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }
  80% {
    top: -85px;
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }
  100% {
    top: -44px;
    transform: rotate3d(0.3, 0.9, 0.1, 196deg);
  }
}/*# sourceMappingURL=ludo.css.map */