<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ludo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha512-NZ19NrT58XPK5sXqXnnvtf9T5kLXSzGQlVZL9taZWeTBtXoN3xIfTdxbkQh6QSoJfJgpojRqMfhyqBAAEeiXcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/ludo/ludo.css">
</head>
<body id="body">

   
    <div class="main-game-wrapper">
        
        <div class="main-part1">
            <div class="top">
                <div class="bowel-wrapper">
                    <div class="disk">
                        <div class="glass"></div>
                        <img class="bowel" src="\assets\ludo\disk-base.png" alt="">

                        <div class="ludo-wrapper">
                            <div class="diceWrap">
                                <div class="dice rolling">
                                    <div class="diceFace front"></div>
                                    <div class="diceFace up"></div>
                                    <div class="diceFace left"></div>
                                    <div class="diceFace right"></div>
                                    <div class="diceFace bottom"></div>
                                    <div class="diceFace back"></div>
                                </div>
                            </div>
                            <div class="diceWrap">
                                <div class="dice rolling">
                                    <div class="diceFace front"></div>
                                    <div class="diceFace up"></div>
                                    <div class="diceFace left"></div>
                                    <div class="diceFace right"></div>
                                    <div class="diceFace bottom"></div>
                                    <div class="diceFace back"></div>
                                </div>
                            </div>
                            <div class="diceWrap">
                                <div class="dice rolling">
                                    <div class="diceFace front"></div>
                                    <div class="diceFace up"></div>
                                    <div class="diceFace left"></div>
                                    <div class="diceFace right"></div>
                                    <div class="diceFace bottom"></div>
                                    <div class="diceFace back"></div>
                                </div>
                            </div>
                        </div>

                        <div class="circle-wrapper">
                            <div class="circle__item">
                                <svg class="circle__spinner" viewBox="0 0 50 50">
                                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="3"></circle>
                                </svg>
                                <p class="circle-number">15</p>
                            </div>
                        </div>

                    </div>

                    <div class="winnerRecord">
                        <div class="mr-top">
                            <div class="part1">
                                <p class="left">
                                   4-7
                                </p>
                                <p class="right">47%</p>
                            </div>
                            <div class="part2">
                                <p class="left">
                                   4-7
                                </p>
                                <p class="right">47%</p>
                            </div>
                            <div class="part3">
                                <p>From last 100 rounds</p>
                            </div>
                        </div>
                        <div class="mr-bottom">
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win big">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win big">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win big">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                            <div class="winner">
                                <p class="win small">10</p>
                                <div class="img">
                                    <img src="\assets\ludo\new-chokka-1.png" alt="">
                                    <img src="\assets\ludo\new-chokka-3.png" alt="">
                                    <img src="\assets\ludo\new-chokka-4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-users">
                        <div class="user">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRdW1a-u9LKjKONPavO0K8FnPODRmoGcDLdp6hXkXGd2bgkXKaS" alt="">
                            <p class="coins">151411</p>
                        </div>
                        <div class="user">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRdW1a-u9LKjKONPavO0K8FnPODRmoGcDLdp6hXkXGd2bgkXKaS" alt="">
                            <p class="coins">151411</p>
                        </div>
                        <div class="user">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRdW1a-u9LKjKONPavO0K8FnPODRmoGcDLdp6hXkXGd2bgkXKaS" alt="">
                            <p class="coins">151411</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="bottom">
                <div class="part1">
                    <img src="/assets/ludo/body-part1.jpg" alt="">
                </div>
                <div class="part2">

                    <div class="part2-top">
                        <div class="inner-left">
                            <img src="\assets\ludo\body-part2-1.jpg" alt="">
                        </div>
                        <div class="inner-middle">
                            <img src="\assets\ludo\body-part2-2.jpg" alt="">
                        </div>
                        <div class="inner-right">
                            <img src="\assets\ludo\body-part2-3.jpg" alt="">
                        </div>
                    </div>

                    <div class="part2-middle-info">
                        <p>Each Double 1:10</p>
                        <p>Each Triple 1:200</p>
                        <p>Each Double 1:10</p>
                    </div>

                    <div class="part2-middle">

                        <div class="board">
                            <img src="/assets/ludo/new-chokka-1.png" alt="">
                            <img src="/assets/ludo/new-chokka-1.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-1.png" alt="">
                            <img src="/assets/ludo/new-chokka-1.png" alt="">
                            <img src="/assets/ludo/new-chokka-1.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-2.png" alt="">
                            <img src="/assets/ludo/new-chokka-2.png" alt="">
                            <img src="/assets/ludo/new-chokka-2.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-2.png" alt="">
                            <img src="/assets/ludo/new-chokka-2.png" alt="">
                        </div>


                        <div class="board">
                            <img src="/assets/ludo/new-chokka-3.png" alt="">
                            <img src="/assets/ludo/new-chokka-3.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-3.png" alt="">
                            <img src="/assets/ludo/new-chokka-3.png" alt="">
                            <img src="/assets/ludo/new-chokka-3.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-4.png" alt="">
                            <img src="/assets/ludo/new-chokka-4.png" alt="">
                            <img src="/assets/ludo/new-chokka-4.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-4.png" alt="">
                            <img src="/assets/ludo/new-chokka-4.png" alt="">
                        </div>


                        <div class="board">
                            <img src="/assets/ludo/new-chokka-5.png" alt="">
                            <img src="/assets/ludo/new-chokka-5.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-5.png" alt="">
                            <img src="/assets/ludo/new-chokka-5.png" alt="">
                            <img src="/assets/ludo/new-chokka-5.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-6.png" alt="">
                            <img src="/assets/ludo/new-chokka-6.png" alt="">
                            <img src="/assets/ludo/new-chokka-6.png" alt="">
                        </div>
                        <div class="board">
                            <img src="/assets/ludo/new-chokka-6.png" alt="">
                            <img src="/assets/ludo/new-chokka-6.png" alt="">
                        </div>
                       
                    </div>



                </div>
            </div>
        </div>

        <div class="main-part2">
            <div class="part1">
                <h2>Balance <span>413141</span></h2>
                <h2>Your Bet <span>413141</span></h2>
            </div>
            <div class="part2">
                <div class="bottom-left">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRdW1a-u9LKjKONPavO0K8FnPODRmoGcDLdp6hXkXGd2bgkXKaS" alt="">
                    <h2>Your Name</h2>
                </div>
                <div class="bottom-middle">
                    <div class="any-btn">
                        <i class="fa-solid fa-rotate-left"></i>
                        <p>UNDO</p>
                    </div>

                    <div class="coins-wrapper">
                        <img class="border-img" src="\assets\ludo\coins-border.png" alt="">

                        <div class="main-coin">
                            <img src="\assets\ludo\coin1.png" alt="">
                        </div>

                        <div class="coins">
                            <div style="--i:0" class="coin">
                                <img src="\assets\ludo\coin1.png" alt="">
                            </div>
                            <div style="--i:1" class="coin">
                                <img src="\assets\ludo\coin1.png" alt="">
                            </div>
                            <div style="--i:2" class="coin">
                                <img src="\assets\ludo\coin1.png" alt="">
                            </div>
                            <div style="--i:3" class="coin">
                                <img src="\assets\ludo\coin1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="any-btn">
                        <i class="fa-solid fa-rotate-right"></i>
                        <p>AGAIN</p>
                    </div>
                </div>
                <div class="bottom-right">
                    <div class="close-btn">
                        <img src="\assets\ludo\close.png" alt="">
                        <p>CLEAR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <!-- hidden  -->
    <input type="hidden" id="user-id" value="{{$user->id}}">
    <input type="hidden" id="user-name" value="{{$user->name}}">
    <input type="hidden" id="user-img" value="{{$user->profile_picture}}">
    <input type="hidden" id="board-id" value="00000000">

    <button class="d-none" data-bs-toggle="modal" data-bs-target="#winner-users" id="winner-users-btn"></button>

    <!-- script  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js" integrity="sha512-Pv/SmxhkTB6tWGQWDa6gHgJpfBdIpyUy59QkbshS1948GRmj6WgZz18PaDMOqaEyKLRAvgil7sx/WACNGE4Txw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <script>
        const urls = {
            "url" : '{{ url('/') }}',
            "socket" : "{{config('lucky77.socket_url')}}/lucky7",
            "betInsert" : "{{route('lucky77.betInsert')}}",
            "getAmount" : "{{route('lucky77.getAmount')}}",
            "startGame" : "{{route('lucky77.startGame')}}",
            "getResults" : "{{route('lucky77.getResults')}}",
        };
    </script>
    <script src="/script/ludo.js"></script>

</body>
</html>
